body {
    margin: 0;
    padding: 0;    
}

.game-container {    
    padding-top: 50px;
}

.game {
    margin: auto;
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    }

 .game-cell {
    position: relative;
    font-size: 1vw;
    /* padding: .5em; */
    background: rgb(238, 225, 150);
    /* text-align: center;
    vertical-align: middle; */
  }

  .active { 
    background-image: url('../img/goblin.png');      
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; 
  }

.img {
   margin: 0%;
   position: absolute;    
   top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
  